.DS_Store
._.DS_Store
# exclude extraneous RNA preprocessing and classification files
RNA/01_processing/01*
RNA/01_processing/02*
RNA/01_processing/04*
RNA/01_processing/05*
RNA/01_processing/00_qc_reports/pre*
RNA/01_processing/00_qc_reports/post_fastqc/
RNA/01_processing/00_qc_reports/post_multiqc/multiqc_data/
RNA/01_processing_dedup/*
RNA/01_rrna/*
RNA/02_kraken2_classification/classification/
RNA/02_kraken2_classification/kraken2_processing_completed.txt
RNA/scripts/
RNA/taxonomy_array.tsv
RNA/Rplots.pdf
RNA/cleaned
RNA/02_kraken2_classification_orig/*
RNA/02_kraken2_classification/processed_results/plots/*
RNA/02_kraken2_classification/processed_results_krakenonly/plots/*
RNA/03_coassembly/*
RNA/02_kraken2_classification/unmapped_reads/*
RNA/04_sourmash/03_sourmash_signatures/*

# exclude extraneous preprocessing files
XTvFlex/01_processing/01*
XTvFlex/01_processing/02*
XTvFlex/01_processing/04*
XTvFlex/01_processing/05*
XTvFlex/01_processing/00_qc_reports/pre*
XTvFlex/01_processing/00_qc_reports/post_fastqc/
XTvFlex/01_processing/00_qc_reports/post_multiqc/multiqc_data/

# exclude extraneous classification files
XTvFlex/02_kraken2_classification/classification/
XTvFlex/02_kraken2_classification/kraken2_processing_completed.txt
# exclude large GC files
XTvFlex/03_GC/03_windows/*pileup*
XTvFlex/03_GC/01_subsampling/
XTvFlex/03_GC/02_readalignment
XTvFlex/03_GC/03_windows/*err
XTvFlex/03_GC/03_windows/*out
XTvFlex/03_GC/03_windows/concat_windowvals_500k.tsv

#exclude Maaslin2 figures
outputs/figures/DNA_MDS_Scree_genus.pdf
outputs/figures/DNA_NFOF_maasli2.pdf
outputs/figures/DNA_NFOF_maasli2.pdf.jpeg
outputs/figures/DNA_NFZF_maasli2.pdf
outputs/figures/DNA_NFZF_maasli2.pdf.jpeg
outputs/figures/DNA_OFOH_maasli2.pdf
outputs/figures/DNA_OFOH_maasli2.pdf.jpeg
outputs/figures/DNA_ZFZH_maasli2.pdf
outputs/figures/DNA_ZFZH_maasli2.pdf.jpeg
outputs/figures/DNA_heatmap.jpeg
outputs/figures/DNA_heatmap_phylum.pdf
outputs/tables/Maaslin_heatmap_126.csv
outputs/tables/Maaslin_heatmap_32.csv

#exclude qPCR extraneous files
qPCR/Plate_1/Plate1 Layout.xlsx
qPCR/Plate_1/5522_HotPooPlate1.eds 
qPCR/Plate_1/2022-05-05 141038.eds
qPCR/Plate_1/qPCRplate1.csv
qPCR/Plate_1/qPCR_plate1_final.csv
qPCR/Plate_1/050522_BhattHotPooPlate1_Template.edt
qPCR/Plate_1/PlateSetup_HotPoo_Plate1.csv
qPCR/Plate_2/051222_BhattHotPooPlate2_Template.edt
qPCR/Plate_2/2022-05-12 104353.eds
qPCR/Plate_2/qPCRplate2.csv
qPCR/Plate_3/2022-05-13 111832.eds
qPCR/Plate_3/51322_HotPooPlate2.eds
qPCR/Plate_3/051322_BhattHotPooPlate3_Template.edt
qPCR/Plate_3/qPCRplate3.csv

# ignore test dirs
test/
demo_output/

# ignore hidden files
.*
outputs/figures/._*
# History files
XTvFlex/03_GC/curatedMetagenomics_samples_metadata.tsv
XTvFlex/Rplots.pdf
XTvFlex/.cache/
XTvFlex/.java/
scripts/.Rhistory
scripts/._extractionPlots.R
._FlexvsXTPlots.R
._Benchmarking.Rproj
.Rproj.user
.Rhistory
.Rapp.history
scripts/.Rhistory

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
