.DS_Store
._.DS_Store
# exclude extraneous preprocessing files
XTvFlex/01_processing/01*
XTvFlex/01_processing/02*
XTvFlex/01_processing/04*
XTvFlex/01_processing/05*
XTvFlex/01_processing/00_qc_reports/pre*
XTvFlex/01_processing/00_qc_reports/post_fastqc/
XTvFlex/01_processing/00_qc_reports/post_multiqc/multiqc_data/

# exclude extraneous classification files
XTvFlex/02_kraken2_classification/classification/
XTvFlex/02_kraken2_classification/kraken2_processing_completed.txt
# exclude large GC files
XTvFlex/03_GC/03_windows/*pileup*
XTvFlex/03_GC/01_subsampling/
XTvFlex/03_GC/02_readalignment
XTvFlex/03_GC/03_windows/*err
XTvFlex/03_GC/03_windows/*out
XTvFlex/03_GC/03_windows/concat_windowvals_500k.tsv

# ignore test dirs
test/
demo_output/

# ignore hidden files
.*
outputs/figures/._*
# History files
XTvFlex/03_GC/curatedMetagenomics_samples_metadata.tsv
XTvFlex/Rplots.pdf
XTvFlex/.cache/
XTvFlex/.java/
scripts/.Rhistory
scripts/._extractionPlots.R
._FlexvsXTPlots.R
._Benchmarking.Rproj
.Rproj.user
.Rhistory
.Rapp.history
scripts/.Rhistory

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
